<footer class="l-footer">
  <a href="#" class="l-footer__pagetop c-topbtn shadow-lg">
      <span class="material-icons expand_less">
          expand_less
      </span>
  </a>
  <div class="l-footer__inner inner">
    <div class="footer-nav">
      <div class="footer-logo">
        <img src="assets/images/footer_logo.svg" alt="">
      </div>
       <ul class="footer-nav__menu">
          <li><a href="#">会社概要</a></li>
           <li><a href="#">採用情報</a></li>
           <li><a href="#">プライバシーポリシー</a></li>
           <li><a href="#">サイトマップ</a></li>
       </ul>
    </div>
  </div>
     <div class="copyright">
        &copy; Myndhand Inc. All Rights Reserved.
    </div>
</footer>
